.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    list-style: none;
}


button,
.button {
    line-height: 32px;;
    background-color: $button;
    padding: 10px 20px;
    margin-top: 20px;
}