
@media (max-width: 1024px) {

// ===== GLOBAL =====

    .selected {
        color: black;
    }

    .topNav {
        position: relative;
        .wrapper {
            .topNavFlex {
                background-color: $lightBackground;
                position: absolute;
                height: 0;
                overflow: hidden;
                top: 0px;
                left: 0px;
                flex-direction: column;
                align-items: left;
                margin: 0;
                padding: 0;
                z-index: 20;
                &:hover,
                &:focus,
                &:focus-within {
                    height: auto;
                    overflow: visible;
                }
                li:hover,
                li:focus-within {
                    color: $primary;
                }
            }
            .hamburgerMenu {
                display: inline-block;
            }
            .hamburgerMenu:hover + ul.topNavFlex,
            .hamburgerMenu:focus + ul.topNavFlex,
            .hamburgerMenu:focus-within + ul.topNavFlex {
                height: auto;
                overflow: visible;
            }
        }
    }   
    
// ===== HOME PAGE =====

    .headerHome {
        .headerFlexParent {
            flex-direction: column;
            .headerTitle {
                margin-right: 50px;
            }
            .headerImg {
                margin-left: 0px;
                position: static;
                margin-bottom: 100px;
            }
        }
    }

    .whoIsSophie {
        text-align: center;
    }

    .featureSection {
        text-align: center;
        .redBox,
        .orangeBox {
            display: none;
        }
        .features {
            flex-direction: column;
            .textContainer {
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .imgContainer {
                margin-top: 15px;
                margin-bottom: 30px;
            }
        }

        }

    .journey {
        .wrapper {
            .imgContainer {
                max-width: 30%;
            }
            .textContainer {
                max-width: calc(70% - 15px);
                padding: 100px 25px;
                margin-left: 15px;
            }
        }
    }

    .gallery ul li {
        max-width: 50%;
    }


// ===== BLOG PAGE & CONTACT PAGE =====

    .headerBlog,
    .headerContact {
        h1 {
            // position: static;
            // margin: 0 auto;
            // text-align: center;
            line-height: 4rem;
            bottom: -80px;
        }
    }

    .contactFlex {
        .contactInfo {
            margin-right: 30px;
            padding: 20px;
            align-self: start;
            max-width: calc(50% - 30px);
        }
        .contactForm {
            max-width: 50%;
            input[type="text"] {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            
            input[type="email"] {
                width: 100%;
            }
        }
    }

    .contactForm {
        
    }


@media (max-width: 768px) {

// ===== HOME PAGE =====

    .headerHome {
        .headerFlexParent {
            padding-top: 30px;
            .headerTitle {
                h1 {
                    font-size: 4.5rem;
                }
            }
        }
    }

    .links .linksFlexParent li {
        max-width: 100%;
    }

    .journey {
        .wrapper { 
            flex-direction: column;
            .imgContainer {
                max-width: 100%;
                margin-top: 50px;
            }
            
            .textContainer {
                max-width: 100%;
                padding: 100px 25px;
                text-align: center;
                // margin-left: 15px;
            }
        }
    }

    .gallery {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 75px 0;
    
            li {
                max-width: 100%;
                margin: 15px 50px;
            }
        }
    }

// ===== BLOG PAGE =====


    .blogFlexParent {
        flex-direction: column;
        padding: 25px 0px;
        .aboutAndPosts {
            max-width: 100%;
            margin-top: 25px;
            aside,
            section {
                margin-right: auto;
            }
            .imgContainer {
                max-width: 80%;
                margin: 25px auto;
            }
            h4 {
                text-align: center;
            }
        }
    
        .mainPost {
            max-width: 100%;
            margin-top: 25px;    
        }
    }

    .commentFlex {
        flex-direction: column;
        align-items: left;
        .imgContainer {
            max-width: 30%;
        }
    
        .textContainer {
            max-width: 100%;
        }
    }

    .blogCommentForm {
        input[type="text"] {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
        input[type="email"] {
            width: 100%;
        }
    }


    // CONTACT

.contactFlex {
    flex-direction: column;
    margin-top: 50px;
    .contactInfo {
        // margin: 30px 30px;
        align-self: auto;
        max-width: 100%;
        text-align: center;
        .socialFlex {
            // something to move to middle
        }
        .bold {
            font-weight: bolder;
        }
    }

    .contactForm {
        max-width: 100%;
        margin-bottom: 150px;
    }
}

}

@media (max-width: 480px) {

    .headerHome {
        .headerFlexParent {
            .headerTitle {
                max-width: 90%;
                h1 {
                    font-size: 3rem;
                }
                img {
                    position: absolute;
                    width: 50%;
                    left: -30px;
                    top: -20px;
                }
            }
        }
    }
}

}
