.topNav {
    background-color: $primary;
    line-height: 29px;
    .wrapper {
        .hamburgerMenu {
            display: none;
            font-size: 1.5rem;
            padding-top: 35px;
        }
    }
    .topNavFlex {
        display: flex;
        margin: 0 auto;
        padding: 20px 50px;
        justify-content: center;
        li {
            margin: 0 15px;
            padding: 15px;
        }
        a {
            padding: 15px;
        }
    }
    

}



