.topNav {
    background-color: $primary;
    line-height: 29px;
    .wrapper {
        .topNavFlex {
            display: flex;
            margin: 0 auto;
            padding: 20px 50px;
            justify-content: center;
            li {
                margin: 0 15px;
                padding: 15px;
            }
            a {
                padding: 15px;
                transition: 0.25s;
            }
        }
        .hamburgerMenu {
            display: none;
            font-size: 2rem;
            padding: 35px;
            width: 50px;
            cursor: pointer;
        }
    }
}



