@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap");
/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 32px;
  font-weight: 400;
}

ul.topNavFlex,
h2,
h3,
h4,
.selected,
button,
.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

.logo {
  font-size: 2.1rem;
}

h1,
.logo {
  font-family: "Lora", serif;
  text-transform: uppercase;
}

ul.topNavFlex {
  font-size: 1rem;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

button {
  font-size: 1rem;
  font-weight: 700;
}

.selected {
  font-size: 1.2rem;
  color: rgb(246, 246, 246);
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

button,
.button {
  line-height: 32px;
  background-color: rgba(5, 174, 193, 0.7);
  padding: 10px 20px;
  margin: 20px;
  border: none;
}

.topNav {
  background-color: #f6a823;
  line-height: 29px;
}
.topNav .wrapper .hamburgerMenu {
  display: none;
  font-size: 1.5rem;
  padding-top: 35px;
}
.topNav .topNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 20px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.topNav .topNavFlex li {
  margin: 0 15px;
  padding: 15px;
}
.topNav .topNavFlex a {
  padding: 15px;
}

.headerHome {
  background-color: #f6a823;
}
.headerHome .headerFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerHome .headerFlexParent .headerTitle {
  margin-right: 75px;
  margin-left: 50px;
  position: relative;
}
.headerHome .headerFlexParent .headerTitle h1 {
  font-size: 6rem;
}
.headerHome .headerFlexParent .headerTitle img {
  position: absolute;
  width: 50%;
  left: -60px;
  top: -35px;
}
.headerHome .headerFlexParent .headerImg {
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
  margin-left: 50px;
  position: relative;
  top: 50px;
}

.whoIsSophie {
  background-color: #f0efed;
}
.whoIsSophie .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.featureSection {
  position: relative;
}
.featureSection .redBox {
  background-color: #a82706;
  position: absolute;
  left: 0;
  top: -15px;
  height: 50%;
  width: 50%;
}
.featureSection .orangeBox {
  background-color: #f6a823;
  position: absolute;
  right: 0;
  bottom: -15px;
  height: 50%;
  width: 50%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features .textContainer {
  max-width: calc(50% - 75px);
}
.features .imgContainer {
  z-index: 10;
}

.featureOne {
  margin-bottom: 75px;
}
.featureOne .textContainer {
  margin-left: 75px;
  padding-top: 50px;
}

.featureTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.featureTwo .textContainer {
  margin-right: 75px;
}

.links {
  background-color: #f0efed;
}
.links .wrapper {
  padding: 100px 0;
}
.links .linksFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.links .linksFlexParent li {
  max-width: calc(50% - 30px);
  min-width: 289px;
  margin-right: 30px;
  margin-bottom: 15px;
}
.links .linksFlexParent li p {
  margin-left: 65px;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 15px;
  font-size: 1rem;
  background-color: #f6a823;
  border-radius: 50%;
  height: 40px;
  width: 50px;
  text-align: center;
  padding-top: 10px;
}

.imageIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f03e";
}

.userIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}

.desktopIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f108";
}

.phoneIcon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
}

.journey {
  background-color: #f0efed;
}
.journey::before {
  content: "";
  background-image: url(../assets/home-image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  width: 100%;
}
.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper .imgContainer {
  max-width: 20%;
}
.journey .wrapper .imgContainer img {
  -webkit-box-shadow: 15px 15px #f6a823;
          box-shadow: 15px 15px #f6a823;
}
.journey .wrapper .textContainer {
  max-width: 80%;
  padding: 100px 0px 100px 75px;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0;
}
.gallery ul li {
  max-width: calc(30% - 30px);
  margin: 15px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
footer p {
  margin: 0;
}

.blogBody {
  background-color: #f0efed;
}

.headerBlog {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
}
.headerBlog h1 {
  position: absolute;
  bottom: -60px;
}

.blogFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
}
.blogFlexParent .aboutAndPosts {
  max-width: 30%;
  margin-top: 50px;
}
.blogFlexParent .aboutAndPosts aside,
.blogFlexParent .aboutAndPosts section {
  background-color: white;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 30px;
}
.blogFlexParent .mainPost {
  max-width: 70%;
  margin-top: 50px;
}
.blogFlexParent .mainPost article {
  background-color: white;
  padding: 30px;
  border-bottom: 5px solid #f6a823;
  margin-bottom: 30px;
}
.blogFlexParent .mainPost article:nth-child(2) {
  border-bottom: none;
}

.recent li::before {
  content: "•";
  color: #f6a823;
  display: inline-block;
  margin-right: 15px;
}

.commentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentFlex .imgContainer {
  max-width: 15%;
}
.commentFlex .textContainer {
  max-width: 85%;
}

.blogCommentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogCommentForm input[type=text] {
  width: calc(50% - 10px);
  border: none;
  padding: 20px;
  margin-right: 10px;
  font-style: italic;
}
.blogCommentForm input[type=email] {
  width: 50%;
  border: none;
  padding: 20px;
  font-style: italic;
}
.blogCommentForm textarea {
  width: 100%;
  margin: 20px 0px;
  border: none;
  padding: 20px;
  font-style: italic;
  height: 245px;
}
.blogCommentForm button {
  width: 100%;
  margin: 20px 0px;
  border: none;
}

@media (max-width: 1024px) {
  .topNav {
    height: 100px;
  }
  .topNav .wrapper {
    position: relative;
  }
  .topNav .wrapper .hamburgerMenu {
    display: block;
  }
  .topNav .topNavFlex {
    background-color: #f0efed;
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin: 0 auto;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topNav .topNavFlex li {
    margin: 0 15px;
    padding: 15px;
  }
  .topNav .topNavFlex a {
    padding: 15px;
  }
  .topNav i:hover .topNavFlex,
.topNav i:focus .topNavFlex,
.topNav i:active .topNavFlex {
    height: auto;
  }

  .headerHome .headerFlexParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerHome .headerFlexParent .headerTitle {
    margin-right: 50px;
    margin-left: 50px;
  }
  .headerHome .headerFlexParent .headerImg {
    margin-left: 0px;
    position: static;
    margin-bottom: 100px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .whoIsSophie {
    text-align: center;
  }

  .featureSection .redBox,
.featureSection .orangeBox {
    display: none;
  }
  .featureSection .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featureSection .features .textContainer {
    max-width: 100%;
  }

  .journey .wrapper .imgContainer {
    max-width: 40%;
  }
  .journey .wrapper .textContainer {
    max-width: 60%;
    padding: 100px 25px;
  }

  .gallery ul li {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .headerHome .headerFlexParent .headerTitle h1 {
    font-size: 4.5rem;
  }

  .links .linksFlexParent li {
    max-width: 100%;
  }

  .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 75px 0;
  }
  .gallery ul li {
    max-width: 100%;
    margin: 15px 50px;
  }

  .blogFlexParent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 0px;
  }
  .blogFlexParent .aboutAndPosts {
    max-width: 100%;
    margin-top: 25px;
  }
  .blogFlexParent .aboutAndPosts aside,
.blogFlexParent .aboutAndPosts section {
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
  }
  .blogFlexParent .mainPost {
    max-width: 100%;
    margin-top: 25px;
  }
  .blogFlexParent .mainPost article {
    padding: 30px;
    border-bottom: 5px solid #f6a823;
    margin-bottom: 30px;
  }
  .blogFlexParent .mainPost article:nth-child(2) {
    border-bottom: none;
  }

  .commentFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .commentFlex .imgContainer {
    max-width: 50%;
  }
  .commentFlex .textContainer {
    max-width: 100%;
  }

  .blogCommentForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogCommentForm input[type=text] {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .blogCommentForm input[type=email] {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .headerHome .headerFlexParent .headerTitle {
    max-width: 90%;
  }
  .headerHome .headerFlexParent .headerTitle h1 {
    font-size: 3rem;
  }
  .headerHome .headerFlexParent .headerTitle img {
    position: absolute;
    width: 50%;
    left: -30px;
    top: -20px;
  }
}